body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.category-list {
  display: flex;
}

/* .card {
  padding: 20px;
  display: block;
  border: 1px solid black;
} */

.single-comment-wrapper{
  padding: 20px;
}
.single-comment-wrapper .card{
  margin: 0 auto;
}

.bk-inline-form{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.bk-inline-form label{
  width: 30%;
  text-align: right;
  margin-right: 15px;
}

.bk-inline-form .input{
  width: 50%; 
}