body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.category-list {
    display: flex;
}

.category-list .ui.card {
    min-height: 200px;
}

.category-list .ui.card .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card-name {
    color: green;
}


/* .card {
  padding: 20px;
  display: block;
  border: 1px solid black;
} */

.single-comment-wrapper {
    padding: 20px;
}

.single-comment-wrapper .card {
    margin: 0 auto;
}

.bk-inline-form {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.bk-inline-form label {
    width: 30%;
    text-align: right;
    margin-right: 15px;
}

.bk-inline-form .input {
    width: 50%;
}